PORT=5000
API_URL=/api/v1
NODE_ENV=development

DB_HOST = localhost,
DB_PORT = 3306,
DB_USER = root,
DB_PASSWORD = 
DB_NAME = 

CORS_ORIGIN_LOCAL =http://localhost:3000,http://localhost:5000,http://127.0.0.1:3000,http://127.0.0.1:5000
CORS_ORIGIN_PROD =

JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=
JWT_SECRET=
JWT_REFRESH_EXPIRES_IN=



QR_ROTATION_INTERVAL=30
 
# Nouvelle configuration 
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=
EMAIL_PORT=465
EMAIL_SECURE=true # Utilise SSL/TLS